<div>
    <h2>Persons</h2>
    <jh-alert></jh-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="person.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span
                       >Create new Person
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr>
                    <th><span>ID</span></th>
                    <th><span>Name</span></th>
                    <th><span>Email</span></th>
                    <th><span>friend(s)</span></th>
                    <th><span>house</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="person in persons track by person.id">
                    <td><a ui-sref="person.detail({id:person.id})">{{person.id}}</a></td>
                    <td>{{person.name}}</td>
                    <td>{{person.email}}</td>
                    <td>
                        <span ng-repeat="friend in person.friends">
                            <a class="form-control-static" ui-sref="person.detail({id: {{friend.id}}})">{{friend.id}}</a>{{$last ? '' : ', '}}
                        <span>
                    </td>
                    <td>
                        <a ui-sref="house.detail({id:person.house.id})">{{person.house.id}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="person.detail({id:person.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="person.edit({id:person.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="person.delete({id:person.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
